<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <meta name="viewport" content="width=device-width" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  <a href="/setmenu" style="font-size: 3em">设置菜单</a>
<div>测试git</div>  </body>
</html>