<div class="row-fluid">
  <div class="span12">
    <h3 class="page-title">
      活动
    </h3>
    <ul class="breadcrumb">
      <li>
        <i class="icon-home"></i>
        <a href="#/index">Home</a>
        <i class="icon-angle-right"></i>
      </li>
      <li><a href="">活动</a></li>
    </ul>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <div class="pull-right">
      <a href="#/activities/new" class="btn btn-primary btn-sm">
        <span class="glyphicon glyphicon-plus">新建</span>
      </a>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>标题</th>
          <th>地址</th>
          <th>开始时间</th>
          <th>结束时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="activity in activities">
          <td>{{$index + 1}}</td>
          <td>{{activity.title}}</td>
          <td>{{activity.adr}}</td>
          <td>{{activity.startAt | date:"yyyy-MM-dd HH:mm"}}</td>
          <td>{{activity.endAt | date:"yyyy-MM-dd HH:mm"}}</td>
          <td>
            <a href="#/activities/{{activity.id}}" class="btn btn-warning btn-xs">
              <span class="glyphicon glyphicon-edit"></span>编辑
            </a>
            <a href="javascript:void(0)" ng-click="rmActivity(activity.id)" class="btn btn-danger btn-xs">
              <span class="glyphicon glyphicon-remove"></span>删除
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
