<div class="row-fluid">
  <div class="span12">
    <h3 class="page-title">
      管理员设置
    </h3>
    <ul class="breadcrumb">
      <li>
        <i class="icon-home"></i>
        <a href="#/index">Home</a>
        <i class="icon-angle-right"></i>
      </li>
      <li><a href="">管理员设置</a></li>
    </ul>
  </div>
</div>

<div class="row-fluid">
  <div class="pull-right">
    <a href="#/setting/new" class="btn btn-primary btn-sm">
      <span class="glyphicon glyphicon-plus">新建</span>
    </a>
  </div>
  <table class="table">
    <thead>
      <tr>
       <th>#</td>
       <th>用户名</td>
       <th>操作</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="admin in admins">
        <td>{{$index + 1}}</td>
        <td>
          {{admin.name}}
        </td>
        <td class="action">
          <a href="#/setting/{{admin.id}}" class="btn btn-primary btn-xs">
            <span class="glyphicon glyphicon-edit"></span>编辑
          </a>
          <a href="javascript:void(0)" ng-click="rmAdmin(admin.id)" class="btn btn-danger btn-xs">
            <span class="glyphicon glyphicon-remove"></span>删除
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
