<div class="row-fluid">
  <div class="span12">
    <h3 class="page-title">
      {{title}}
    </h3>
    <ul class="breadcrumb">
      <li>
        <i class="icon-home"></i>
        <a href="#/index">Home</a>
        <i class="icon-angle-right"></i>
      </li>
      <li>
        <a href="#/{{url}}">{{title}}</a>
        <i class="icon-angle-right"></i>
      </li>
      <li>
        <a href="">{{obj.title}}</a>
      </li>
    </ul>
  </div>
</div>
<div class="row-fluid">
  <div class="control-group">
    <label class="control-label">标题</label>
    <div class="controls">
      <input type="text" class="m-wrap large" ng-model='obj.title' required />
    </div>
  </div>

  <div class="control-group">
    <label class="col-sm-2 control-label">封面: </label>
    <div class="col-sm-10">
      <span class="help-block">建议尺寸: 360*200px</span>
      <img class="middle" ng-src="{{obj.cover}}">
    </div>
  </div>
  <div class="control-group">
    <div class="col-sm-offset-2 col-sm-10">
      <span class="btn blue fileinput-button">
        <i class="icon-plus"></i>
        <span>上传图片</span>
        <input id="imgupload" type="file" fileupload name="files" data-url="/upload" done="uploadFinished(e, data, 'cover')">
      </span>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">摘要</label>
    <div class="controls">
      <textarea class="large m-wrap" rows="6" ng-model='obj.abstract' required></textarea>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">内容</label>
    <div class="controls">
      <script id="editor" type="text/plain" style="width:945px;height:500px;">
      </script>
    </div>
  </div>

  <div class="form-actions">
    <button class="btn blue" ng-click="submit()"><i class="icon-ok"></i> 提交</button>
    <a class="btn" href='#/{{url}}'>撤销</a>
  </div>
</div>
