<div class="row-fluid">
  <div class="span12">
    <h3 class="page-title">
      小玛哥
    </h3>
    <ul class="breadcrumb">
      <li>
        <i class="icon-home"></i>
        <a href="/index">Home</a>
        <i class="icon-angle-right"></i>
      </li>
    </ul>
  </div>
</div>
